@import "tailwindcss";




*{

  margin: 0;
  box-sizing: border-box;
  padding: 0;
}


.embla{
  overflow: hidden;
}

.embla_container{
  display: flex;
}

.embla_slide{
  flex: 0 0 100%;
  min-width: 0;
}

.embla_slide img{

  width: 100%;
}


